<!DOCTYPE html>
<html>
	<div ng-repeat="partido in partidos">
		{{partido.local.nombre}} (Ataque:{{partido.local.ataque}}, Defensa:{{partido.local.defensa}})
		vs
		{{partido.visita.nombre}} (Ataque:{{partido.visita.ataque}}, Defensa:{{partido.visita.defensa}})
		<a ng-href="#simular/{{$index}}">Simular</a>
	</div>
</html>
