<!--
-simulación por turnos
-ver torneo
-ver equipos
-->
<!DOCTYPE html>
<html ng-app="FutbolParaTroncos">
	<head>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular-resource.min.js"></script>
		<script>
			var app = angular.module('FutbolParaTroncos', ['ngResource']);

			app.config(['$routeProvider', function($routeProvider) {
				$routeProvider.when('/home', {
					templateUrl: 'home.html',
					controller: HomeCtrl
				});
				$routeProvider.when('/equipos', {
					templateUrl: 'equipos.html',
					controller: EquiposCtrl
				});
				$routeProvider.when('/fixture', {
					templateUrl: 'fixture.html',
					controller: FixtureCtrl
				});
				$routeProvider.when('/simular/:idpartido', {
					templateUrl: 'simular.html',
					controller: SimularCtrl
				});
				$routeProvider.otherwise({ redirectTo: '/home' });
			}]);

			function HomeCtrl($scope, $location) {
				$scope.Ubicacion = function () { return $location.path() };
			}

			app.factory('EquiposService', function($resource) {
				var Equipo = $resource('/api/equipo/:id', {id:'@id'});
				var equiposInternal = {};
				equipos = Equipo.query(function(data) {
					for (equipo in data)
					{
						equiposInternal[data[equipo].nombre] = data[equipo];
					}
				});
				return {
					Equipos: function () {
						return equipos;
					},
					Equipo : function (nombre) {
						return equipos.$then(function(){
							if (nombre in equiposInternal)
								return equiposInternal[nombre];
							equipo = Equipo.get({id: nombre});
							equipos.push(equipos);
							equiposInternal[nombre] = equipo;
							return equipo;
						});
					},
					EquipoAt : function (id) {
						return equipos.$then(function(){
							return equipos[id];
						});
					}
				}
			});

			function EquiposCtrl($scope, EquiposService) {
				$scope.equipos = EquiposService.Equipos();
			}

			app.factory('PartidosService', function($resource) {
				var Fixture = $resource('/api/fixture');
				partidos = Fixture.query();
				return {
					Partidos : function () {
						return partidos;
					},
					PartidoAt : function (id) {
						return partidos.$then(function(){
							return partidos[id];
						});
					}
				}
			});

			function FixtureCtrl($scope, PartidosService) {
				$scope.partidos = PartidosService.Partidos();
			}

			app.factory('SimularService', function($resource, $location) {
				var Simular = $resource('/api/simular/:idpartido/:action');
				return {
					SimularTurno : function (partido, id) {
						partido_next = Simular.get({idpartido : id});
						partido_next.$then(function(){
							acciones = [partido_next.ultima_accion].concat(partido.acciones);
							partido_next.acciones = acciones;
							delete partido_next.ultima_accion;
							angular.copy(partido_next, partido);
						});
					},
					TerminarPartido : function (id) {
						Simular.get({idpartido : id, action : "terminar"}).$then(function(){
							$location.path("#home");
						});
					}
				}
			});

			function SimularCtrl($scope, $routeParams, SimularService) {
				$scope.partido = {acciones : []};
				$scope.SimularTurno = function () { SimularService.SimularTurno($scope.partido, $routeParams.idpartido); };
				$scope.TerminarPartido = function () { SimularService.TerminarPartido($routeParams.idpartido); };
				$scope.SimularTurno();
			}
		</script>
	</head>
	<body ng-controller="HomeCtrl">
		<div>
			Ubicación: {{Ubicacion()}}
		</div>
		<nav>
			<ul>
				<li><a ng-href="#equipos">Equipos</a></li>
				<li><a ng-href="#fixture">Fixture</a></li>
			</ul>
		</nav>
		<hr>
		<div ng-view></div>
	</body>
</html>
