<!DOCTYPE html>
<html>
	<div>
		<button ng-click="SimularTurno()">Simular turno</button>
		<button ng-click="TerminarPartido()">Terminar partido</button>
		<hr>
		{{partido.local.nombre}} ({{partido.marcador[partido.local.nombre]}}) vs {{partido.visita.nombre}} ({{partido.marcador[partido.visita.nombre]}})
		<hr>
		<div ng-repeat="accion in partido.acciones track by $index">
			{{accion}}
		</div>
<!--
		<div>{{partido.acciones}}</div>
-->
	</div>
</html>
